.form {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.form button {
    font-size: 1.1em;
    padding: .25rem 1rem;
    border-radius: 1rem;
    border: none;
    background-color: #ff518b;
    color: whitesmoke;
    font-weight: 600;
    cursor: pointer;
}