.cart-button {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    gap: .5rem;
    align-items: center;
    color: inherit;
    background-color: rgba(0, 0, 0, 0.25);
    padding: .5rem;
    border-radius: 2.5rem;
    box-shadow: 0 .5rem .5rem rgba(0, 0, 0, 0.15) inset;
}

.icon {
    width: 1.35rem;
    height: 1.35rem;
    vertical-align: middle;
}

.badge {
    background-color: rgb(255, 140, 58);
    color: whitesmoke;
    font-weight: 700;
    padding: 0.25rem 0.5rem;
    border-radius: 100%;
}